@font-face {
  font-family: "Public Sans";
  src: url("../fonts/PublicSans-Regular.woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Public Sans";
  src: url("../fonts/PublicSans-SemiBold.woff2");
  font-weight: 600;
}

@font-face {
  font-family: "Public Sans";
  src: url("../fonts/PublicSans-Medium.woff2");
  font-weight: 500;
}

@font-face {
  font-family: "Public Sans", sans-serif;
  src: url("../fonts/PublicSans-Bold.woff2");
  font-weight: 700;
}

@font-face {
  font-family: "CabinetGrotesk", sans-serif;
  src: url("../fonts/CabinetGrotesk-Bold.woff2");
  font-weight: 700;
}

@font-face {
  font-family: "CabinetGrotesk", sans-serif;
  src: url("../fonts/CabinetGrotesk-Medium.woff2");
  font-weight: 500;
}
